.container_walk {
  padding-left: 0;
  padding-right: 0;
  font-size: 25px;
  height: 100vh;
}
.container_btn div {
  flex: 1;
}
.container_btn {
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
.high_score{
  background-color: #00a4ff;
  margin-top: -30px;
}
