.score_container {
  margin-top: 30px;
  text-align: center;
  animation: effect 2s linear infinite;
}
@keyframes effect {
  0% {
      background: linear-gradient(#008000, #000100);
      -webkit-background-clip: text;
  }

  100% {
      background: linear-gradient(#3CE7D7, #f8f9fd);
      -webkit-background-clip: text;
  }
}