/* You can add global styles to this file, and also import other style files */
.color-body{
    background-color: #2aa82de0;
}
body {
    background-image: url('assets/image/mountain-walk.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }